.benchmark-table {
    border-collapse: collapse;
    background: #fff;
    color: #000;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 5px 15px #000;
    font: 1em sans-serif;
}

.benchmark-table td, table th {
    padding-left: 12px;
    border: 0;
}

.benchmark-table thead tr {
    height: 40px;
    background: #232323;
    color: #fff;
}

.benchmark-table tbody tr {
    height: 50px;
    font-size: 15px;
    color: 000;
    line-height: 1.2;
}

.benchmark-table td {
    text-align: left;
    vertical-align: middle;
    min-width: 90px;
}

.benchmark-table th {
    text-align: left;
    vertical-align: middle;
}

.benchmark-table td:nth-of-type(2n-1) {
    background-color: #dbdbdb;
}

.div-params {
    font-size: 6pt;
    font-weight: lighter;
    color: #232323;
}
