* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body, html {
    height: 100%;
    font-family: sans-serif
}

h1, h2, h3, h4, h5, h6 {
    margin: 0
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px
}

table {
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

table td, table th {
    padding-left: 12px;
    border: 0;
}

table thead tr {
    height: 60px;
    background: #232323;
    color: #fff;
}

table tbody tr {
    height:50px
}

table td, table th {
    text-align: left
}

.table th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}

tbody tr {
    font-size: 15px;
    color: 000;
    line-height: 1.2;
}
